<img id="burgerIMG" src="burger.png">

<h2>Eat-Da-Burger!</h2>

<ul id="burgerList">
    {{#unless devoured}}
        {{#each burgers}}
        <li data-id="{{id}}">
            <div id="burgers">
                <h1>{{id}}. {{burger}}</h1>
            </div>
            <button data-id="{{id}}" class="devour">Devour it!</button>
        </li>
        {{/each}}
    {{/unless}}
</ul>

<ul id="devouredBurgerList">
    {{#if devoured}}
        {{#each burgers}}
        <li>
            <div id="devouredBurgers">
                <h1>{{id}}. {{burger}}</h1>
            </div>
        </li>
        {{#each burgers}}
    {{/if}}
</ul>

<form>
    <textarea id="burgerForm"></textarea>
</form>

<button id="submit">submit</button>

<h4>Enter a burger you want to eat and click the SUBMIT button.</h4>
